// 增加或修改 ant-design-vue 的 css

.anticon {
  cursor: pointer;
  color: #5a5e66;
  font-weight: 600;
}

.ant-menu-item .ant-menu-item-icon + span,
.ant-menu-item .anticon + span {
  margin-left: 16px !important;
}

// tagviews 选中时 icon 颜色变白
.active {
  svg {
    color: #fff;
  }
}
