@import "./ant.scss";

$big-font: 20px;
$default-font: 14px;
$small-font: 12px;

* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

#app {
  height: 100%;
  font-size: $default-font;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.big-font {
  font-size: $big-font;
}

.default-font {
  font-size: $default-font;
}

.small-font {
  font-size: $small-font;
}
